/* Reset some basic styles */
body, ul, h1, p {
    margin: 0;
    padding: 0;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Navigation Bar */
.navbar {
    background-color: #333;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style-type: none;
    text-align: center;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.navbar ul li a:hover {
    color: #ff6347; /* Tomato color for hover effect */
}

/* Introduction Text */
.introduction {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.introduction h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.introduction p {
    font-size: 1.2em;
    color: #555;
}

/* Progress Section Styling */
.progress-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.progress-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    height: 25px;
    margin-bottom: 10px;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #32cd32; /* LimeGreen */
    transition: width 0.3s ease;
}

#progress-text {
    font-size: 1.2em;
    color: #555;
}
/* Book Container */
.book-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

/* Book Styling */
.book {
    flex-basis: calc(325% - 40px);
    max-width: calc(25% - 40px);
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
    background-color: #ffe4e1;
    border: 2px solid #ff6347;
}

.book img {
    max-width: 150px;
    max-height: 200px;
    display: block;
    margin: 0 auto 10px;
}

.strikethrough {
    text-decoration: line-through;
    color: gray;
}

.grayscale {
    filter: grayscale(100%);
    opacity: 0.7;
}

@media (max-width: 768px) {
    .book {
        flex-basis: calc(50% - 40px); /* 2 books per row on smaller screens */
        max-width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .book {
        flex-basis: calc(100% - 40px); /* 1 book per row on very small screens */
        max-width: calc(100% - 40px);
    }
}
.book[data-status="unread"] {
    border: 2px solid #ff6347; /* Tomato color for unread */
    background-color: #ffe4e1;
}

.book[data-status="read"] {
    border: 2px solid #32cd32; /* LimeGreen color for read */
    background-color: #d3ffd3;
}
